@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oxygen&family=Ubuntu:wght@500&display=swap');

*{
	margin: 0;
	padding:0;
	text-decoration: none;
}

img{
	height:25vh;
	width: 100%;
	object-fit: cover;
	margin: auto;
}

.imagens{
	height:25vh;
	width: 25vw;
	object-fit: cover;
	margin: auto;
}

p{
	font-size: 1.2em;
	font-family: 'ABeeZee', sans-serif;
}

ul{
	font-size: 1.4em;
	font-family: 'ABeeZee', sans-serif;
}


.titleForm{
	font-family: 'Ubuntu', sans-serif;
	font-size: 1.8em;
	color:  #ff9900;
}

label{
	font-family: 'Oxygen', sans-serif;
	font-family: 'Ubuntu', sans-serif;
	font-size: 1.6em;
	color: #ff9900;
}

.desc{
	margin: auto;
	font-style: italic;
}

.depoimentos{
	background-color: #ff9900;
	font-style: italic;
}

i{
	padding-right: 8px;
}

footer{
	width: 100%;
	height: 25vh;
	position: absoulute;
	bottom: 0;
	background-color: #ff9900;
	display: flex;
	flex-direction: row;
}
.informacao{
	padding-top: 20px;
	padding-left: 20px;
	font-size: 1.1em;
	float: left;
}
.redeSocial{
	padding-top: 20px;
	padding-right: 20px;
	font-size: 2.5em;
	float: right;
}
.facebook{
	color: black;
}
.instagram{
	color: black;
}

.facebook:hover{
	color: white;
}

.instagram:hover{
	color: white;
}
.topo{
	color: black;
}
.topo:hover{
	color: white;
	text-decoration: none;
}

.img-centralizada{
	display: block;
	width: 100%;
}

.maps
{
	border: solid 2px black;
	width: 50%;
	height: 50vh;
	padding: 0;
}